<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 bread-component">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/list" routerLinkActive="active">Lista de cursos</a></li>
        <li class="breadcrumb-item active">Módulo - Cinto de segurança</li>
      </ol>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 course-general-left">  
      <h5><i class="fa fa-list-ol" aria-hidden="true"></i> Sumário</h5>
      <a class="sumary-item" routerLink="/course/introduction" routerLinkActive="active">1 - Introdução</a>
      <a class="sumary-item active" routerLink="/course/inspection" routerLinkActive="active">2 - Inspeção</a>
      <a class="sumary-item" routerLink="/course/collisions" routerLinkActive="active">3 - Colisões</a>
      <div class="bar1">
        <h5 class="progresso"><i class="fa fa-rocket" aria-hidden="true"></i> Progresso</h5>
        <p><ngb-progressbar type="success" [value]="33">33%</ngb-progressbar></p>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="back-test">
        <h4 class="title-module">Inspeção</h4>
        <hr>
        <p class="description">Faça sempre a inspeção no seu equipamento: verifique se não a cortes ou dobras e teste o travamento. Verifique também os cintos dos bancos traseiros.</p>
        <p class="description">O cinto de segurança é obrigatório e individual em todas as vias e para todos os ocupantes do veículo (banco da frente e banco traseiro).</p>
        <p class="description">Desrespeitar essa regra, além de ser um risco, é infração.</p>
        <p class="description"><strong>Use corretamente o cinto:</strong> </p>
        <p class="description"><i class="fa fa-check-circle-o icon-check" aria-hidden="true"></i> Ajuste-o firmemente ao corpo, sem deixar folgas e não use presilhas; </p>
        <p class="description"><i class="fa fa-check-circle-o icon-check" aria-hidden="true"></i> Posicione a faixa superior no meio do ombro (sem tocar no pescoço) e a faixa inferior deve ficar abaixo do abdômen (especialmente para gestantes).</p>
        <p class="description"><i class="fa fa-check-circle-o icon-check" aria-hidden="true"></i> Evite que as tiras fiquem torcidas;</p>
        <p class="description"><i class="fa fa-check-circle-o icon-check" aria-hidden="true"></i> Não inclinar excessivamente o banco para não reduzir a eficiência do cinto;</p>
        <p class="description"><i class="fa fa-check-circle-o icon-check" aria-hidden="true"></i> As crianças devem usar cinto de segurança ou sistema de retenção equivalentes, conforme visto no módulo Legislação de Trânsito.</p>
        <hr>
        <div class="buttons-control">
          <button class="btn btn-md btn-wise" routerLink="/course/introduction" routerLinkActive="active"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar</button>
          <button class="btn btn-md btn-wise" routerLink="/course/collisions" routerLinkActive="active">Avançar <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </button>
        </div>
      </div>
      <div class="bar2">
        <h5 class="progresso"><i class="fa fa-rocket" aria-hidden="true"></i> Progresso</h5>
        <p><ngb-progressbar type="success" [value]="33">33%</ngb-progressbar></p>
      </div>      
    </div>
  </div>
</div>