<div class="container">
  <div class="row">
    <div class="col-mdm12 col-sm-12 col-xs-12">
        <h3>Meus cursos</h3>
    </div>
  </div>
</div>
<div id="list-component" class="container">
  <div class="row">    
    <div id="course-list" class="col-md-12 col-xs-12">
      <div class="col-md-4 col-sm-6 col-xs-12 item-course">
        <img src="../assets/images/course.jpg" class="img-course" />
        <h5>Cinto de segurança</h5>
        <p class="list-descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <h5 class="progresso"><i class="fa fa-rocket" aria-hidden="true"></i> Progresso</h5>
        <p><ngb-progressbar type="success" [value]="100">100%</ngb-progressbar></p>
        <hr>
        <button class="btn btn-md btn-block btn-wise" routerLink="/course" routerLinkActive="active">Acessar o curso <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 item-course">
        <img src="../assets/images/bg-login.jpg" class="img-course" />
        <h5>Direção defensiva</h5>
        <p class="list-descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <h5 class="progresso"><i class="fa fa-rocket" aria-hidden="true"></i> Progresso</h5>
        <p><ngb-progressbar type="success" [value]="0">0%</ngb-progressbar></p>
        <hr>
        <button class="btn btn-md btn-block btn-wise" routerLink="/course" routerLinkActive="active">Acessar o curso <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 item-course">
        <img src="../assets/images/bg-login.jpg" class="img-course" />
        <h5>CFC Reciclagem</h5>
        <p class="list-descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <h5 class="progresso"><i class="fa fa-rocket" aria-hidden="true"></i> Progresso</h5>
        <p><ngb-progressbar type="success" [value]="0">0%</ngb-progressbar></p>
        <hr>
        <button class="btn btn-md btn-block btn-wise" routerLink="/course" routerLinkActive="active">Acessar o curso <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </button>
      </div>      
    </div>
  </div>
</div>