<nav id="navbar-wise" class="navbar navbar-toggleable-md">
    <div class="container logo-mobile">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand">
            <img src="../assets/images/logo.jpg" class="img-responsive" />
        </a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="mostrarMenu" class="nav-item active">
                    <a class="nav-link sair" routerLink="/login" routerLinkActive="active"> Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="body">
    <router-outlet></router-outlet>
</div>
<footer  class="footer">
  <div class="container">
    <span class="text-muted">© Copyright Grupo Tecnowise 2017</span>
  </div>
</footer>